SimpleWebServicesWeb/src/main/resources/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.jboss.org/ddoyle/howtojboss/HelloService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HelloService" targetNamespace="http://www.jboss.org/ddoyle/howtojboss/HelloService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.jboss.org/ddoyle/howtojboss/HelloService/">
			<xsd:element name="GetHello" type="tns:GetHelloType" />
			<xsd:element name="GetHelloResponse" type="tns:GetHelloResponseType" />
			<xsd:complexType name="GetHelloType">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetHelloResponseType">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetHelloRequest">
		<wsdl:part element="tns:GetHello" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetHelloResponse">
		<wsdl:part element="tns:GetHelloResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="HelloService">
		<wsdl:operation name="GetHello">
			<wsdl:input message="tns:GetHelloRequest" />
			<wsdl:output message="tns:GetHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloServiceSOAP" type="tns:HelloService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetHello">
			<soap:operation
				soapAction="http://www.jboss.org/ddoyle/howtojboss/HelloService/GetHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSOAP" name="HelloServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
