SimpleWebServicesWeb/src/main/resources/wsdl/WorldService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.jboss.org/ddoyle/howtojboss/WorldService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="WorldService" targetNamespace="http://www.jboss.org/ddoyle/howtojboss/WorldService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.jboss.org/ddoyle/howtojboss/WorldService/">
			<xsd:element name="GetWorld" type="tns:GetWorldType" />
			<xsd:element name="GetWorldResponse" type="tns:GetWorldResponseType" />
			<xsd:complexType name="GetWorldType">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetWorldResponseType">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetWorldRequest">
		<wsdl:part element="tns:GetWorld" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetWorldResponse">
		<wsdl:part element="tns:GetWorldResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WorldService">
		<wsdl:operation name="GetWorld">
			<wsdl:input message="tns:GetWorldRequest" />
			<wsdl:output message="tns:GetWorldResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorldServiceSOAP" type="tns:WorldService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetWorld">
			<soap:operation
				soapAction="http://www.jboss.org/ddoyle/howtojboss/WorldService/GetWorld" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WorldService">
		<wsdl:port binding="tns:WorldServiceSOAP" name="WorldServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
