Simple_jBPM_Process/src/main/resources/wsdl/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.jboss.org/ddoyle/howtojboss/OrderService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="WorldService" targetNamespace="http://www.jboss.org/ddoyle/howtojboss/OrderService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.jboss.org/ddoyle/howtojboss/OrderService/">
			<xsd:element name="PlaceOrder" type="tns:PlaceOrderType" />
			<xsd:element name="PlaceOrderResponse" type="tns:PlaceOrderResponseType" />
			<xsd:complexType name="PlaceOrderType">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PlaceOrderResponseType">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PlaceOrderRequest">
		<wsdl:part element="tns:PlaceOrder" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PlaceOrderResponse">
		<wsdl:part element="tns:PlaceOrderResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="OrderService">
		<wsdl:operation name="PlaceOrder">
			<wsdl:input message="tns:PlaceOrderRequest" />
			<wsdl:output message="tns:PlaceOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrderServiceSOAP" type="tns:OrderService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PlaceOrder">
			<soap:operation
				soapAction="http://www.jboss.org/ddoyle/howtojboss/WorldService/PlaceOrder" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrderService">
		<wsdl:port binding="tns:OrderServiceSOAP" name="OrderServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
