Simple_jBPM_Process/src/main/resources/wsdl/PaymentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.jboss.org/ddoyle/howtojboss/PaymentService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="PaymentService" targetNamespace="http://www.jboss.org/ddoyle/howtojboss/PaymentService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.jboss.org/ddoyle/howtojboss/PaymentService/">
			<xsd:element name="CheckPaymentType" type="tns:CheckPaymentType" />
			<xsd:element name="CheckPaymentTypeResponse" type="tns:CheckPaymentResponseType" />
			<xsd:complexType name="CheckPaymentType">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CheckPaymentResponseType">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CheckPaymentTypeRequest">
		<wsdl:part element="tns:CheckPaymentType" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CheckPaymentTypeResponse">
		<wsdl:part element="tns:CheckPaymentTypeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="PaymentService">
		<wsdl:operation name="CheckPaymentType">
			<wsdl:input message="tns:CheckPaymentTypeRequest" />
			<wsdl:output message="tns:CheckPaymentTypeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentServiceSOAP" type="tns:PaymentService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CheckPaymentType">
			<soap:operation
				soapAction="http://www.jboss.org/ddoyle/howtojboss/PaymentService/CheckPaymentType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PaymentService">
		<wsdl:port binding="tns:PaymentServiceSOAP" name="PaymentServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
